.marquee {
  animation: marquee 30s linear infinite;
}

.marquee2 {
  animation: marquee2 30s linear infinite;
}

.bg-rainbow:hover {
  background-size: 400% 200%;
  background-image: linear-gradient(
    90deg,
    #32fe31,
    #33f7f5,
    #4779ed,
    #9263d2,
    #ff0b00,
    #9263d2,
    #4779ed,
    #33f7f5
  );
  animation: rainbow 7s linear infinite;
}
/* {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation:slidebg 5s linear infinite;
} */

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  to {
    background-position: 400% 50%;
  }
}
